<html>
<head>
<title>Python Flask Upload and display image</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<p><h1 align="center">Log Analyzer</h1></p>
<div class="container">
<div class="row">
    <h2>Select a file to upload</h2>

    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required multiple>
            </p>
        </dl>

        <span class="input-group-addon">Please select model</span>
          <select name="comp_select" class="selectpicker form-control">
            {% for o in data %}
            <option value="{{ o.name }}">{{ o.name }}</option>
            {% endfor %}
          </select>
        
        <p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>
    </form>

    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <div>{{ message }}</div>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {% for table in tables %}
                {{ table|safe }}
        {% endfor %}
    </p>


</div>
</div>
</body>
</html>